:root {
  --text-gradient: linear-gradient(90deg, #d00070, #8c4799, #0032a0);
}

* {
	box-sizing: border-box;
}
body {
	background-image: url('./assets/purple-stars-bg.gif');
}
      
div.title_main {
  text-align: center;
  font-family: main_title;
  font-size: 56px;
  color:#00f;
  border: 2px solid #00f;
  border-radius: 16px;
  margin: 10px auto;
  max-width: 60vw;
  min-width: 350px;
	overflow: hidden;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div._flexbox_container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap:5vw;
  margin: 12vh 0px 0px;
  overflow: visible;
  min-width: 0px;
}

div.intro_box {
  text-align: center;
  color: #00f;
  border: 2px solid #00f;
  border-radius: 16px;
  font-family: general_text;
  font-size: 28px;
  margin: 0px 0px 0px auto;
  width: 40vw;
  max-width: 700px;
  min-width: 340px;
  overflow: hidden;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.links_social {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  gap: 8px;
  text-align: center;
  font-size: 28px;
  font-family: general_text;
  color: #00f;
  border: 2px solid #00f;
  border-radius: 16px;
  padding: 8px;
  margin: 0px auto 0px 0px;
  width: 40vw;
  max-width: 700px;
  min-width: 340px;
  overflow: visible;
}

a {
  text-decoration: none;
  border: 2px solid #00f;
  border-radius: 16px;
  padding: 8px;
  margin: auto;
  overflow: visible;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover {
  background-color: blue;
  color: white;
  text-shadow: 0 0 4px black;
  animation: none;
}

@font-face {
  font-family: main_title;
  src: url(assets/iosevka-ss06-extendedbold.ttf);
}

@font-face {
  font-family: general_text;
  src: url(assets/iosevka-ss06-extended.ttf);
}

@media all and (max-width: 800px){
  div.intro_box{
    margin: 0px auto 0px auto; 
  }
  .links_social{
    margin: 0px auto 0px auto;
  }
}
