* {
	box-sizing: border-box;
}
body {
	background-image: url('./assets/purple-stars-bg.gif');
}
      
div.title_main {
  text-align: center;
  font-family: header;
  font-size: 56px;
  color:#00f;
  border: 2px solid #00f;
  border-radius: 16px;
  margin: 10px auto;
  max-width: 60vw;
  min-width: 350px;
	height: 50%;
  overflow: hidden;
}

div._flexbox_container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap:5vw;
  margin: 12vh 0px 0px;
  overflow: visible;
  min-width: 0px;
}

div.intro_box {
  text-align: center;
  color: #00f;
  border: 2px solid;
  border-color: #00f;
  border-radius: 16px;
  font-family: links;
  font-size: 28px;
  margin: 0px 0px 0px auto;
  width: 40vw;
  max-width: 700px;
  min-width: 340px;
  overflow: hidden;
}


.links_social {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  gap: 8px;
  text-align: center;
  font-size: 28px;
  font-family: links;
  color: #00f;
  border: 2px solid #00f;
  border-radius: 16px;
  padding: 8px;
  margin: 0px auto 0px 0px;
  width: 40vw;
  max-width: 700px;
  min-width: 340px;
  overflow: visible;
}

a {
  text-decoration: none;
  border: 2px solid #00f;
  border-radius: 16px;
  padding: 8px;
  margin: auto;
  overflow: visible;
}

a:hover {
  background-color: blue;
  color: white;
  text-shadow: 0 0 4px black;
  animation: none;
}

@font-face {
  font-family: header;
  src: url(assets/iosevka-ss06-extendedbold.ttf);
}

@font-face {
  font-family: links;
  src: url(assets/iosevka-ss06-extended.ttf);
}

@media all and (max-width: 800px){
  div.intro_box{
    margin: 0px auto 0px auto; 
  }
  .links_social{
    margin: 0px auto 0px auto;
  }
}
